/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: midnightblue;
  color: #fff;
  display: block;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  margin: 2rem 0;
}

#root,
#__next {
  isolation: isolate;
}

main {
  margin: 0 auto;
}

/* Add padding above the cards */
.row {
  padding: 1rem;
}

/* Make the cards break to a column at 728px */
@media (max-width: 990px) {
  
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: .5em 0 0 0;
    padding: 0 1rem
  }
  
  .card {
    margin-bottom: 1rem;
  }

  ul.navbar-nav {
    position: fixed;
    bottom: 10px;
    background: transparent;
    width: 33%;
    display: flex;
    justify-content: center;
  }

  ul.navbar-nav li {
    padding: 0 0.25em;
  }
}
